<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Sebelumnya</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; Sebelumnya</span>
  {% endif %}

  <span class="pagination  pagination--counter">Halaman: {{ paginator.page }} dari {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination  pagination--next">Selanjutnya &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">Selanjutnya &rarr;</span>
  {% endif %}

</nav>
